stepfunction.auto-deploy.json
{
  "StartAt": "Find Function",
  "States": {
    "Find Function" : {
      "Type":"Task",
      "Resource":"${LambdaAutoFind.Arn}",
      "TimeoutSeconds":300,
      "Next":"Evaluate Status"
    },
    "Evaluate Status": {
      "Type":"Choice",
      "Choices": [
        {
          "Variable":"$.functionFound",
          "BooleanEquals":true,
          "Next":"Deploy Function"
        },
        {
          "Not":{
            "Variable":"$.token",
            "StringEquals":""
          },
          "Next":"Find Function"
        }
      ],
      "Default":"End"
    },
    "Deploy Function": {
      "Type":"Task",
      "Resource":"${LambdaAutoDeploy.Arn}",
      "TimeoutSeconds": 300,
      "Next":"End"
    },
    "End":{
      "Type":"Succeed"
    }
  }
}